@charset "UTF-8";
/* ==========================================
COMMON
========================================== */
body {
	font-size: 16px;
	font-family: Verdana, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	line-height: 1.6;
}

a:link,
a:visited {
	color: #0ac;
	text-decoration: none;
}

a:hover,
a:active {
	color: #fc0;
}

.inner {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
 }

.clearfix:after {
 clear: both;
}

.clearfix {
	zoom:1;
}

/* ==========================================
HEADER
========================================== */


